{%extends '_base.html'%}
{% block content %}
<h3>
    Anotaciones Realizadas:
</h3>
{% if lista_anotaciones %}
<table class="table table-bordered">
	<thead>
		<tr>
            <td>No Anotacion</td>
            <td>Descripcion </td>
            <td>Opciones</td>			
		</tr>		
	</thead>
	<tbody>
		{% for anotacion in lista_anotaciones %}
		<tr>
			<td>{{ anotacion.no_anotacion }}</td>
			<td>{{ anotacion.descripcion }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'modificar_anotacion' anotacion.no_anotacion %}">Modificar</a>
				<a class="btn btn-danger" href="#">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<h1>Aun no se han realizado anotaciones en esta cita!</h1>
		{% endif %}
	</tbody>
</table> 
{% endblock %}

