{% extends '_base.html' %} 
{% load static %}
{% block title %}Reporte gráfico{% endblock %}
{% block content %} 
    

 {% load static %}
    <h1>¡Días concurridos!</h1>

    <canvas id="myChart" width="900" height="200"></canvas>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript">
        $.get('{% url "line_chart_json" %}', function(data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx, {
                type: 'line', data: data
            });
        });
    </script>
 {% endblock  %}
